.submenu{
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  border: solid 0.5rem rgba(46, 46, 46, 0.2);
  border-radius: 2px;
  height: 25vh;
}

.submenu h1{
  color: rgba(255, 204, 18, 0.1);
}

.submenu h1:hover{
  color: #FFCC12;
  transition: color 1s;
}

.submenu h1.arrow{
  transition: transform 1s ease-out;
}

.submenu h1.arrow:hover{
  color: #FFCC12;
  transform: scale(1.3);
}

.container-fluid .row{
  padding: 1rem;
}

/*//TABLET*/
/*@media only screen and (min-width : 768px) and (max-width : 992px){
 .submenu{
    background-color: white;
    height: 35vh;
  }
}*/

/*//PHONE*/
@media only screen and (max-width : 768px) {

  .submenu h1:not(.arrow){
    font-size: 1rem;
  } 
  
  

@media only screen and (max-height: 300px) {
  .submenu{
    height: 35vh;
  } 
}


}

