.submenu{
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  border: solid 0.5rem #ccc;
  border-radius: 2px;
  background-color: gray;
  height: 25vh;
}

.submenu h1{
  color: rgba(255, 204, 18, 0.1);
}

.submenu h1:hover{
  color: #FFCC12;
  transition: color 1s;
}

.submenu h1.arrow{
  /*font-size: 6rem;*/
  transition: transform 1s ease-out;
}

.submenu h1.arrow:hover{
  color: #FFCC12;
  transform: scale(1.3);
}

.container-fluid .row{
  padding: 1rem;
}

/*//PHONE*/
@media only screen and (max-width : 768px) {

  .submenu h1:not(.arrow){
    font-size: 1rem;
    /*background-color: blue;*/
  }


}

